{%- set filebeat = salt['pillar.get']('filebeat', {}) %}
{%- if 'modules' in filebeat %}
filebeat.modules:
{{ filebeat.modules|yaml(False) }}
{%- endif %}

{%- if 'inputs' in filebeat %}
filebeat.inputs:
{{ filebeat.inputs|yaml(False) }}
{%- endif %}

{%- if 'autodiscover' in filebeat %}
filebeat.autodiscover:
  {{ filebeat.autodiscover|yaml(False) }}
{%- endif %}

{%- if 'processors' in filebeat %}
processors:
{{ filebeat.processors|yaml(False) }}
{%- endif %}

output:
{%- set logstash = filebeat.get('logstash', {}) %}
{%- if logstash.get('enabled', False) %}
  logstash:
    hosts: {{ logstash.server }}
    {%- if 'worker' in logstash %}
    worker: {{ logstash.worker }}
    {%- endif %}
    loadbalance: true
    {%- if 'index' in logstash %}
    index: {{ logstash.index }}
    {%- endif %}
    {%- if 'tls' in filebeat.logstash %}
      {%- if logstash.tls.get('enabled', False) %}
    tls:
      certificate_authorities: ["{{ logstash.tls.ssl_cert_path }}"]
      {%- endif %}
    {%- endif %}
{%- endif %}

{%- if 'name' in filebeat %}
name: {{ filebeat.name }}
{%- endif %}
{%- if 'tags' in filebeat %}
tags: {{ filebeat.tags }}
{%- endif %}
{%- if 'fields' in filebeat %}
fields:
  {{ filebeat.fields|yaml(False) }}
{%- endif %}
{%- if 'fields_under_root' in filebeat %}
fields_under_root: {{ filebeat.fields_under_root }}
{%- endif %}
{%- if 'queue' in filebeat %}
queue:
  {{ filebeat.queue|yaml(False) }}
{%- endif %}
{%- if 'max_procs' in filebeat %}
max_procs: {{ filebeat.max_procs }}
{%- endif %}

{%- if 'registry_path' in filebeat %}
filebeat.registry.path: {{ filebeat.registry_path }}
{%- endif %}
{%- if 'registry_file_permissions' in filebeat %}
filebeat.registry.file_permissions: {{ filebeat.registry_file_permissions }}
{%- endif %}
{%- if 'registry_flush' in filebeat %}
filebeat.registry.flush: {{ filebeat.registry_flush }}
{%- endif %}
{%- if 'registry_migrate_file' in filebeat %}
filebeat.registry.migrate_file: {{ filebeat.registry_migrate_file }}
{%- endif %}
{%- if 'overwrite_pipelines' in filebeat %}
filebeat.overwrite_pipelines: {{ filebeat.overwrite_pipelines }}
{%- endif %}
{%- if 'shutdown_timeout' in filebeat %}
filebeat.shutdown_timeout: {{ filebeat.shutdown_timeout }}
{%- endif %}
