filebeat:
  # ================================== General ===================================
  name:
  tags: ["service-X", "web-tier"]
  fields:
  env: staging
  fields_under_root: false
  # registry_path: ${path.data}/registry
  # registry_file_permissions: 0600
  # registry_flush: 0s
  # registry_migrate_file: ${path.data}/registry
  # overwrite_pipelines: false
  # shutdown_timeout: 0
  modules:
    #-------------------------------- System Module --------------------------------
  - module: system
    #Syslog
    syslog:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:
      # Input configuration (advanced). Any input configuration option
      # can be added under this section.
      input:
    # Authorization logs
    auth:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:
      # Input configuration (advanced). Any input configuration option
      # can be added under this section.
      input:
  #-------------------------------- Apache Module --------------------------------
  - module: apache
    # Access logs
    access:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:
      # Input configuration (advanced). Any input configuration option
      # can be added under this section.
      input:
    # Error logs
    error:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:
      # Input configuration (advanced). Any input configuration option
      # can be added under this section.
      input:
  #---------------------------- Elasticsearch Module ----------------------------
  - module: elasticsearch
    # Server log
    server:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      #var.paths:
    gc:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      #var.paths:
    audit:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      #var.paths:
    slowlog:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      #var.paths:
    deprecation:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      #var.paths:
  #------------------------------- HAProxy Module -------------------------------
  - module: haproxy
    # All logs
    log:
      enabled: false
      # Set which input to use between syslog (default) or file.
      #var.input:
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      #var.paths:
  #-------------------------------- Kafka Module --------------------------------
  - module: kafka
    # All logs
    log:
      enabled: false
      # Set custom paths for Kafka. If left empty,
      # Filebeat will look under /opt.
      var.kafka_home:

      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:
  #------------------------------- Mongodb Module -------------------------------
  - module: mongodb
    # Logs
    log:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:
      # Input configuration (advanced). Any input configuration option
      # can be added under this section.
      input:
  #-------------------------------- MySQL Module --------------------------------
  - module: mysql
    # Error logs
    error:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:
      # Input configuration (advanced). Any input configuration option
      # can be added under this section.
      input:
    # Slow logs
    slowlog:
      enabled: false
      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:
      # Input configuration (advanced). Any input configuration option
      # can be added under this section.
      input:
  #-------------------------------- Nginx Module --------------------------------
  - module: nginx
    # Access logs
    access:
      enabled: false

      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:

      # Input configuration (advanced). Any input configuration option
      # can be added under this section.
      input:

    # Error logs
    error:
      enabled: false

      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:

      # Input configuration (advanced). Any input configuration option
      # can be added under this section.
      input:

    # Ingress-nginx controller logs. This is disabled by default. It could be used in Kubernetes environments to parse ingress-nginx logs
    #ingress_controller:
    #  enabled: ffalse
    #
    #  # Set custom paths for the log files. If left empty,
    #  # Filebeat will choose the paths depending on your OS.
    #  #var.paths:
  #-------------------------------- Redis Module --------------------------------
  - module: redis
    # Main logs
    log:
      enabled: false

      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths: ["/var/log/redis/redis-server.log*"]

    # Slow logs, retrieved via the Redis API (SLOWLOG)
    slowlog:
      enabled: false

      # The Redis hosts to connect to.
      var.hosts: ["localhost:6379"]

      # Optional, the password to use when connecting to Redis.
      var.password:
  #------------------------------- Traefik Module -------------------------------
  - module: traefik
    # Access logs
    access:
      enabled: false

      # Set custom paths for the log files. If left empty,
      # Filebeat will choose the paths depending on your OS.
      var.paths:

      # Input configuration (advanced). Any input configuration option
      # can be added under this section.
      input:
  # List of inputs to fetch data from.
  inputs:
  #------------------------------ Log input --------------------------------
  - type: log
    enabled: false
    paths:
      - /var/log/messages
      - /var/log/*.log
  # =========================== Filebeat autodiscover ============================
  autodiscover:
    providers:
      - type: docker
        templates:
          - condition:
              equals.docker.container.image: busybox
            config:
              - type: container
                paths:
                  - /var/lib/docker/containers/${data.docker.container.id}/*.log
  # ================================= Processors =================================
  processors:
  - include_fields:
      fields: ["cpu"]
  - drop_fields:
      fields: ["cpu.user", "cpu.system"]
    #-------------------------------- OUTPUTS --------------------------------
  # Outputs
  elasticsearch:
    enabled: False
    server: 127.0.0.1:9200
  logstash:
    enabled: True
    server:
      - "my_logstash_host:5044"
    # tls:
    #   enabled: True
    #   ssl_cert_path: /etc/pki/tls/certs/logstash-forwarder.crt
    #   # path to the certificate of your ELK server to be installed
    #   ssl_cert: |
    #       -----BEGIN CERTIFICATE-----
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCR
    #       MIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyourCRTMIIDnzyour==
    #       -----END CERTIFICATE-----

    #   # If you want to manage your own certs, set below to False
    #   managed_cert: False
## For further refference you can follow this link: https://github.com/elastic/beats/blob/master/filebeat/filebeat.reference.yml
